@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Code:wght@300..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'Coolvetica';
    src: url('/assets/fonts/Coolvetica\ Rg.otf');
}
@font-face {
    font-family: 'Altone Regular';
    src: url('/assets/fonts/Altone Trial-Regular.ttf');
}