@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'Altone';
    src: url('../../fonts/Altone Trial-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Coolvetica';
    src: url('../../fonts/Coolvetica Rg.otf') format('opentype');
}