@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'Coolvetica';
    src: url('/assets/fonts/Coolvetica\ Rg.otf');
}
@font-face {
    font-family: 'Altone Regular';
    src: url('/assets/fonts/Altone Trial-Regular.ttf');
}