#croquisItesa {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.leaflet-control-zoom-out {
    display: none !important;
}

.poligono-edificio {
    stroke: none;
    fill-opacity: 0%;
}

.poligono-edificio:hover {
    stroke: yellow;
    stroke-width: 2px;
}

.poligono-edificio:focus {
    border: none;
    outline: none;
}