@import 'personal.css';

:root {
    --width-barra-lateral: 80px;
}

.ocultar {
    display: none !important;
}


#contenedor-admin {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    background-color: white;
    position: relative;
}

.barra-lateral-izq-admin > div{
    box-sizing: border-box;
    padding: 10px 0;

    width: var(--width-barra-lateral);
    height: 100vh;
    
    background-color: #003362;
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;

    z-index: 2;
}

.sub-menu {
    background: linear-gradient(
        135deg,
        #003362,
        #0153a0
    ) !important;
}

.admin-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boton-barra-lateral-admin {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.sub-menu .tooltip-boton-barra-lateral-admin {
    background: linear-gradient(
        135deg,
        #003362,
        #0153a0
    ) !important;
}

.tooltip-boton-barra-lateral-admin {
    position: absolute;
    height: 90%;
    width: auto;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 10px;
    background-color: #012e58;

    border-radius: 5px;
    left: calc(var(--width-barra-lateral) - 14px);

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

    z-index: 10;
}

.sobre-elemento {
    top: -70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.boton-barra-lateral-admin:hover:not(.boton-activo) {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.boton-barra-lateral-admin:active {
    scale: 0.9;
}

.boton-activo {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.boton-barra-lateral-admin img {
    width: 85%;
    filter: invert();
}

.vista-admin {
    flex: 1;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.vista-admin > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-ayuda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    gap: 10px;

    z-index: 9999;
    cursor: default;
}

.modal-ayuda p {
    margin: 0;
    background-color: transparent;
    font-size: 4rem;
    text-align: center;
    max-width: 50%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
}

.contenedor-mensaje-accion {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: auto !important;
    height: auto !important;
    padding: 50px;

    background-color: #f8d302;

    z-index: 9999;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: black;
    text-align: center;
}

.contenedor-mensaje-accion p {
    margin: 10px 0 0 0;
}