.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-flotante {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;

    z-index: 9999;
    margin: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edicion-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedor-editar-ruta {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: red;

    z-index: 9999;
}

.modal-ayuda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    gap: 10px;

    z-index: 9999;
    cursor: default;
}

.modal-ayuda p {
    margin: 0;
    background-color: transparent;
    font-size: 4rem;
    text-align: center;
    max-width: 50%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
}

.contenedor-edificio-seleccionado {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: auto;
    height: auto;
    background: linear-gradient(
        135deg,
        #003362,
        #0153a0
    ) !important;
    color: white;

    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;

    border-radius: 10px;

    z-index: 9999;
}

.contenedor-edificio-seleccionado p {
    margin: 0;
}

.contenedor-edificio-seleccionado p:first-of-type {
    color: #b7c6f8;
}

#nombre-edificio-editando {
    font-size: 2rem;
}

/* =====================================================
    VENTANA EMERGENTE PARA CONFIRMAR ELIMINACIÓN DE RUTA
======================================================== */

.contenedor-confirmar-eliminacion {
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.900),
        rgba(255, 240, 240, 0.900)
    );

    padding: 50px;
    border-radius: 50px;
    gap: 20px
}

.contenedor-confirmar-eliminacion p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

#nombre-edificio-elimiar-ruta {
    font-weight: bold;
    color: #0153a0;
}

.opcion-eliminar-ruta {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 3rem;

    color: white;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    filter: brightness(0.7);
    background-color: #003362;
}

.opcion-eliminar-ruta:hover{
    filter: brightness(1);
}

.opcion-eliminar-ruta:active {
    scale: 1.05;
}

.contenedor-mensaje-eliminacion-ruta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 50px;

    background-color: #f8d302;

    z-index: 9999;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: black;
}

.contenedor-mensaje-eliminacion-ruta p {
    margin: 10px 0 0 0;
}

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}