/* --- BOTÓN FLOTANTE --- */
.contenedor-boton-menu {
    cursor: pointer;
    position: fixed;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
    background-color: var(--color-verde1);
    z-index: 9998;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

a {
    all: unset;
}

.contenedor-boton-menu.oculto {
    opacity: 0;
    pointer-events: none; /* Evita que se pueda clickear estando invisible */
}

.icono-menu {
    cursor: pointer;
    width: 100%;
    height: 100%;
    filter: invert();
    transition: filter 0.3s ease;
}

.contenedor-boton-menu:hover {
    background-color: var(--color-gris1);
}

.contenedor-boton-menu:hover .icono-menu {
    filter: invert(21%) sepia(95%) saturate(2068%) hue-rotate(160deg) brightness(99%) contrast(98%);
}

/* --- MODAL (FONDO OSCURO) --- */
.modal-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    transition: opacity 0.4s ease;
    opacity: 1;
}

/* Estado oculto del fondo */
.modal-fondo.oculto {
    opacity: 0;
    pointer-events: none;
}

/* --- MENÚ LATERAL (HEADER) --- */
.menu-lateral {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 250px; 
    background-color: #003362;
    
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fondo:not(.oculto) .menu-lateral {
    transform: translateX(0);
}

/* --- COMPONENTES INTERNOS DEL MENÚ --- */
.menu-logo-contenedor {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-institucional {
    height: 100%;
}

#boton-cerrar-menu {
    filter: invert(32%) sepia(31%) saturate(2543%) hue-rotate(143deg) brightness(93%) contrast(98%);
    height: 25%;
    cursor: pointer;
    margin-right: 1rem;
    transition: filter 0.3s ease;
}

#boton-cerrar-menu:hover {
    filter: invert();
}

.menu-navegacion {
    flex: 1;
}

.lista-navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.item-navegacion {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fbfbfb;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 100%;
    transition: background-color 0.2s ease;
}

.lista-navegacion a {
    box-sizing: border-box;
    width: 90%;
}

.item-navegacion:hover:not(.activo) {
    background-color: rgba(214, 214, 214, 0.1);
}

.icono-item {
    height: 1.5rem;
    margin-right: 0.5em;
    filter: invert();
}

.activo {
    background-color: var(--color-verde1);
    color: #fbfbfb;
}

.contenedor-boton-admin {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-admin img {
    filter: invert(13%) sepia(79%) saturate(1756%) hue-rotate(189deg) brightness(97%) contrast(103%);
}

#boton-admin {
    cursor: pointer;
    display: flex;
    color: #003362;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    width: 95%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: transparent;
}

#boton-admin:hover {
    color: white;
    background-color: rgba(197, 48, 48, 0.5);
}

#boton-admin:hover img {
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(39deg) brightness(117%) contrast(96%);
}

/*===================================== 

    VENTANA PARA INGRESAR COMO ADMIN

===================================== */

.contenedor-ingreso-admin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-clave-admin {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 58, 58);
    border-radius: 20px;

    color: white;
    padding: 50px;

    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
    position: relative;
}

.contenedor-clave-admin p, 
.contenedor-clave-admin label,
#boton-ingresar-admin {
    font-family: 'Inter', sans-serif;
}

.contenedor-clave-admin p:first-of-type {
    font-weight: bold;
}

.contenedor-clave-admin p:last-of-type {
    font-size: 0.85rem;
}

.contenedor-clave-admin label {
    color: rgb(255, 162, 162);
    font-size: 0.9rem;
}

#clave-acceso-admin {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 10px;
    margin: 5px 0 10px;
    border-radius: 10px;
}

#boton-ingresar-admin {
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0.2rem 1.5rem;
    border-radius: 20px;
    background-color: rgb(119, 49, 49);
    border-color: white;
    color: white;
}

#boton-ingresar-admin:hover {
    background-color: white;
    color: rgb(119, 49, 49);
}

#boton-cerrar-login {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 0;
    right: 0;

    margin-right: 15px;
    margin-top: 15px;

    filter: invert();

    cursor: pointer;
}

#boton-cerrar-login:hover {
    filter: invert(80%) sepia(32%) saturate(6995%) hue-rotate(312deg) brightness(123%) contrast(156%);
}